


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li><a class="nav-link" href="#" (click)="goToNav('recipe')">Recipes</a></li>
          <li><a class="nav-link" href="#" (click)="goToNav('shopping-list')">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav ms-auto">
            <li class="dropdown "appDropdown (dropDownMenu)="dropDownMenuBool=$event">
                <a href="#" class="dropdown-toggle nav-link p-1" role="button">Manage</a>
                <ul class="dropdown-menu "
                [ngClass]="{show:dropDownMenuBool}"
                style="right: 0px;"
                >
                    <li><a href="#" class="dropdown-item">Save Data</a></li>
                    <li><a href="#"class="dropdown-item">Fatch Data</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>



