


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li><a class="nav-link" routerLink="recipes" routerLinkActive="active" *ngIf="isAuthenticated">Recipes</a></li> 
          <li><a class="nav-link" routerLink="shopping-list" routerLinkActive="active">Shopping List</a></li>
          <li><a class="nav-link" routerLink="auth" routerLinkActive="active"*ngIf="!isAuthenticated">Authentication</a></li>
        </ul>
        <ul class="nav navbar-nav ms-auto">
          <li><a class="nav-link" style="cursor: pointer;"*ngIf="isAuthenticated" (click)="onLogout()">Logout</a></li>
            <li class="dropdown "appDropdown (dropDownMenu)="dropDownMenuBool=$event">
                <a class="dropdown-toggle nav-link " role="button"*ngIf="isAuthenticated">Manage</a>
                <ul class="dropdown-menu "
                [ngClass]="{show:dropDownMenuBool}"
                style="right: 0px;"
                >
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;"(click)="onFatchData()">Fatch Data</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>



